body{
	text-align: center;
}

#Section {
	border: 1px solid black;
	text-align: center;
}	

.form{
	padding: 20px;
}

#currency-form{
	padding: 20px;
}

.random{
	padding: 20px;
}

.paragraph {
	text-align: right;
}